@import './mixin'; 

.answer {
    background: url('./../assets/images/rectangle.svg') no-repeat;
		background-size: contain;
    width: 288px;
    height: 56px;
    padding: 16px 30px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 24px;
    position: relative;
    margin: 17px;
    text-align: left;
		font-size: 14px;
		transition: 500ms;

    &::before{
      @include before;
      left: -17px;
    }

    &::after{
			@include before;
      right: -17px;
    }

    &:hover {
        background: url('./../assets/images/rectangle_hover.svg') no-repeat;
				background-size: contain;
        cursor: pointer;

        &::before,
        &::after {
            background: $main;
        }
    }

    &.correct {
        background: url('./../assets/images/rectangle_correct.svg') no-repeat;
				background-size: contain;

        &::before,
        &::after {
            background: $correct;
        }
    }

    &.wrong {
        background: url('./../assets/images/rectangle_wrong.svg') no-repeat;
				background-size: contain;

        &::before,
        &::after {
            background: $wrong;
        }
    }

    &.selected {
        background: url('./../assets/images/rectangle_selected.svg') no-repeat;
				background-size: contain;

        &::before,
        &::after {
            background: $main;
        }
    }

    span {
        text-transform: uppercase;
        color: $main;
        display: inline-block;
        margin: 0 20px 0 0;
        font-size: 14px;
    }
}

@media (min-width: 600px) {
	.answer {
    width: 373px;
    height: 72px;
    padding: 24px 40px;
		font-size: 20px;

		&::before{
			top: 35px;
	}

	&::after{
			top: 35px;
	}

		span {
			font-size: 20px;
			margin: 0 10px 0 0;
		}
	}
}
