button {
    font-size: 14px;
    font-family: 'Inter', 'Roboto', sans-serif;
    color: $white;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 48px;
		background: $main;
		border-radius: 12px;
		border: none;
		transition: 500ms;
		margin: 20px 0 0 0;

		&:hover {
			cursor: pointer;
			background: lighten($main, 20%);
		}

		&:active {
			background: darken($main, 20%);
		}
}

@media (min-width: 600px) {
    button {
        font-size: 20px;
        width: 296px;
        height: 64px;
				margin: 30px 0 0 0;
				float: left;
    }
}