@mixin head {
	font-family: 'Inter', 'Roboto', sans-serif;
	color: $font;
	text-align: center;
}

@mixin before {
	content: '';
  width: 17px;
  height: 1px;
  background: $light-gray;
  position: absolute;
  top: 27px;
}