@import './mixin';

h1 {
  @include head;
  font-size: 32px;
  margin: 20px 0 80px;
}

h2 {
  @include head;
  font-size: 18px;
}

span {
  color: lighten($font, 50%);
  font-size: 16px;
  text-align: center;
  display: block;
}

@media (min-width: 600px) {
  h1 {
    font-size: 56px;
    text-align: left;
    margin: 20px 0;
  }

  h2 {
    font-size: 32px;
    text-align: left;
  }

  span {
    font-size: 32px;
    text-align: left;
  }
}
